<?xml version="1.0" encoding="utf-8"?>
<cobranding>
  <!--
    When specifying a URL, the following characters must be escaped:
    
        Character     Escape code
        _________________________
        SPACE 	     	%20
        < 	          %3C
        > 	          %3E
        # 	          %23
        % 	          %25
        { 	          %7B
        } 	          %7D
        | 	          %7C
        \ 	          %5C
        ^ 	          %5E
        ~ 	          %7E
        [ 	          %5B
        ] 	          %5D
        ` 	          %60
        ; 	          %3B
        / 	          %2F
        ? 	          %3F
        : 	          %3A
        @ 	          %40
        = 	          %3D
        & 	          %26
        $ 	          %24
        	
    The only valid schemes to use in the URL are HTTP and HTTPS. If a scheme
    is not provided, the scheme is assumed to be HTTP.
    
    
    To assign an access key to a menu item, the letter intended 
    to be used as access key must be prefixed with an ampersand (&). This 
    character also must be XML encoded to &amp;. To display an actual
    ampersand in these items, two escaped ampersand characters must be 
    placed next to each other (&amp;&amp;).
    
    
    All images used in the cobranding package must be in the PNG format. If
    the images are in a different format, the cobranding package uses the
    default images in TIBCO Spotfire.
  -->
  
  
  <!-- 
    Replaces product name in window title and login dialog of Spotfire Analyst. 
    If the product name exceeds the available space in the login dialog, the 
    product name is trimmed.
  -->
  <productName>Sample Product Name</productName>


  <!-- 
    Replaces product name in window title, login dialog, and About page for the 
    Web Player. If the product name exceeds the available space in the login
    dialog, the product name is trimmed.
  -->
  <productNameWeb>Sample Product Name</productNameWeb>


  <!-- 
    The banner is used in splash screens and the About dialog of Spotfire Analyst. 
    The banner should be 700 pixels x 57 pixels, and able to be safely cropped to 
    400 pixels x 57 pixels. The cropping is done on the right side of the image. 
    Vital image information should be placed on the left side of the image to
    ensure that it will not disappear when cropped.
  -->
  <logoBanner>banner.png</logoBanner>

  <!--
    Replaces the "TIBCO Spotfire Support" text on the Help menu and the support 
    link. If the support URL exceeds the available space in the About dialog,
    the link is trimmed and the full URL is displayed in a tooltip.
  -->
  <support>
    <text>Sample &amp;Support Link</text>
    <url>www.example.com/support</url>
  </support>
  <!--
    Replaces the "TIBCO community" text on the Help menu, and the link to the 
    TIBCO community.
  -->
  <community>
    <text>TIBCO Community</text>
    <url>https://community.tibco.com/products/spotfire/</url>	
  </community>

  
  <!--
    Replaces the "About TIBCO Spotfire" text on the Help menu. 
  -->
  <about>Sample &amp;About Box</about>		


  <!-- 
    Link in the bottom left of the About dialog. 
  -->
  <companyUrl>www.example.com</companyUrl>
  
  <web>
  <!--
    The WebHeader.htm file is used to add a custom header to the server UI
    and Web Player.
  -->
 <!--
	 <header>WebHeader.htm</header>
 -->			
  <!-- 
    The logo shown in the navigation header on the library page. If the 
    image exceeds the dimensions 190x33 pixels, the image will be cropped.
  --> 
   <navigationLogo>libraryNavigationLogo.png</navigationLogo>
   </web>
</cobranding>
